SenNews/src/assets/file.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:8585/?wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://127.0.0.1:8585/?wsdl" name="ServerSoapWs">
<types>
<xsd:schema>
<xsd:import namespace="http://127.0.0.1:8585/?wsdl" schemaLocation="http://localhost:8585/?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<portType name="UserManagement">
<operation name="getUser">
<input wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://127.0.0.1:8585/?wsdl/UserManagement/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
</portType>
<binding name="UserManagementPortBinding" type="tns:UserManagement">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerSoapWs">
<port name="UserManagementPort" binding="tns:UserManagementPortBinding">
<soap:address location="http://localhost:8585/"/>
</port>
</service>
</definitions>